#sankey-introduction {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
    display: inline-block;
}

#sankey-introduction img {
    max-width: 100%;
}

#expert-introduction {
    width: 80%;
    max-width: 800px;
    text-align: center;
    display: inline-block;
}

#description {
    margin-top:10px;
    margin-bottom:5px;
    width: 80%;
    max-width: 800px;
    text-align: center;
    display: inline-block;
}

#chart-container img{
    margin-bottom: 20px;
}

.caption {
    font-weight:bold;
}

#chart-container {
    width: 80%;
    max-width: 800px;
    text-align: center;
    display: inline-block;
}

#chart {
    margin: 10px;
    display: inline-block;
}

#selection-panel {
    width: 100%;
    display: inline;
    margin-top: 5px;
}

.selection-button {
    display: table-cell;
    border-radius: 5px 5px 0px 0px;
    width: 150px;
    height: 40px;
    border: 1px solid black;
    padding: 5px;
    vertical-align: middle;
    font-size:0.8em;
    cursor: pointer;
}

.selected-selection {
    border-bottom: none;
    background: white;
    color: black;
}

.unselected-selection {
    background: #dedede;
    color: #6b6b6b;
}

.highlight {
    box-shadow: 0px 0px 15px #ff0000;
    position: relative;
}

#shadow {
    pointer-events: none;
    width:100%;
    height:100%;
    position:fixed;
    background: #0000006b;
    z-index: 0;
    display: none;
}

#split-question{
    margin-top: 20px;
}

#split-choices label {
    line-height: 2em;
}
#explanation-container {
    margin-top: 20px;
}

#autogenerate-button{
    width: 200px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#generate-filter-text p{
    margin-top: 0px;
    margin-bottom: 0px;
}

#generate-filter-text {
    display:none;
}

.characteristic-group{
    padding:5px;
}

.characteristic-group label{
    margin-right: 10px;
}

#generate-filter-list {
    text-align: left;
    display: inline-block;
}

#generate-filters-button{
    width: 200px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.generated {
    background-color: #d2d2d2;
    color: #525252;
}

.ungenerated {
    background-color: #b5d6c1;
    color: #3d8247;
}

#shortcut-panel{
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#filter-error{
    color: #c50000;
    margin-bottom: 5px;
}

#shortcut-panel .button-div{
    width: auto;
}

#tutorial-text{
    width:100%;
    height:200px;
    border-bottom: 1px solid black;
    border-radius:10px;
    position:fixed;
    top: 0px;
    background: white;
    z-index:1;
}

#tutorial-text-under{
    width:100%;
    height:200px;
    display:inline-block;
    border-radius:10px;
}

.tut-txt{
    display:inline-block;
    width:60%;
    vertical-align: top;
}

#tutorial-text img{
    padding-left: 20px;
    max-height: 100%;
    max-width: 50%;
}

#intro{
    text-align: left;
    width: 80%;
    max-width: 700px;
    display: inline-block;
}

input[type="radio"]{
    margin-left: 30px;
}

#intro table{
    border-collapse: collapse;
    width: 80%;
}

textarea {
    width: 100%;
    height: 100px;
}

#intro td {
    width: 50%;
    border: 1px solid black;
    padding: 10px;
}

#specific-intro{
    text-align: left;
    width: 80%;
    max-width: 700px;
    display: inline-block;
}

#survey-body{
    display: none;
}

#begin-button {

    width: auto;
    margin: 5px;
    display: inline-block;
}
#start-button {

    width: auto;
    margin: 5px;
    display: inline-block;
}

embed {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#sankey-container{
    display:inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width:100%;
    text-align:left;
}

#toggle-button {
    width: auto;
    margin: 5px;
    display: inline-block;
}

#drag-container{
    display: none;
    position: absolute;
    border: 1px solid #00000040;
    pointer-events: none;
    background-color: #e2e2e23b;
}

#question-container{
    width: 80%;
    max-width: 700px;
    display: inline-block;
    text-align: left;
}

#question{
    font-size: 1.2em;
}

#question img {
    border: 1px solid black;
    border-radius: 10px;
    width: 75%;
}

#choices{
}

#choices input{
    margin-top: 20px;
}

#survey-section{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom:5px;
}

.filter-section{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff8a;
}

.add-filter-item-button{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff8a;
}

.add-filter-set-button{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #e4e7e8;
    color: #6d7b79;
}

#advanced-label {
    background: #cccccc;
    color: #565656;
    padding-top: 10px;
    padding-bottom: 10px;
}
.remove-filter-set-button{
    padding-top: 10px;
    padding-bottom: 10px;
}

.remove-filter-item-button{
    display: inline-block;
    border: 1px solid #00000042;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    background: #ffffff99;
}

.filter-data{
    display: inline-block;
    text-algin: left;
}

.filter-data label{
    margin-right: 10px;
}

#filter-details{
    margin-bottom: 20px;
    display: none;
}

.filter-section div,select {
    margin-left: 5px;
    margin-right: 10px;
}

.filter-range{
    display:inline-block;
}

.button-div {
    cursor: pointer;
    user-select: none;
    line-height: 40px;
    background: #bfc9d8;
    border-radius: 5px;
    width: 80px;
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
    padding: 5px;
}

#survey-footer{
    padding-top: 20px;
    width:100%;
    display: inline-block;
}

body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    cursor: default;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-align: center;
}

#sankey-hover{
    display: none;
    pointer-events: none;
}

canvas{
    position: absolute;
    mix-blend-mode: multiply;
    width:100%;
}

.definition-box{
    width: 100%;
    display: inline-block;
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #e4e4e4;
}

#hover-div{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 200px;
    background: white;
    border-radius: 10px;
    overflow-x: hidden;
    font-family: sans-serif;
    text-align: center;
    font-size: 0.8em;
    box-shadow: 0 0 10px 0px #ffffff;
}

.definition-label{
    font-size: 1.3em;
}

#click-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    background: white;
    border-radius: 10px;
    overflow-x: hidden;
    font-family: sans-serif;
    text-align: center;
    font-size: 0.8em;
    box-shadow: 0 0 10px 0px #ffffff;
    display:none;
}

.contribution-div {
    width: 100%;
    display: inline-block;
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contribution-wrapper {
    width: 100%;
    display: inline-block;
    font-size: 1em;
    padding-bottom: 5px;
}

.node-text {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
}

.mid-text {
    font-size: 0.9em;
}

.click_section{
    width: 100%;
    cursor: default;
}

#click_label {
    width: 100%;
    text-align: center;
    border: none;
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 5px;
}

#click_colour {
    width: 100%;
    border: none;
}

.click_filter_label{
    font-size:1.1em;
    padding-top:3px;
    padding-bottom:3px;
}

.click_filter_option input{
    margin:3px;
}

#click_hide{
    cursor: pointer;
    padding-top:3px;
    padding-bottom:3px;
    font-size: 1.2em;
}

#tutorial-text .button-div{
    cursor: pointer;
    user-select: none;
    line-height: 20px;
    background: #bfc9d8;
    border-radius: 5px;
    width: 50px;
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;

}

#tut-button-container {
    position: absolute;
    bottom: 0px;
    width:100%;
}

#tutorial-text-container {
    overflow-y: scroll;
    height: 170px;
}

#end {
    margin-left: 10%;
    width: 80%;
    text-align: center;
    font-size: 1.5em;
    padding-top:20px;
}
